body {
	text-align:center;
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1cd;
}
h1{
    font-family: 'Press Start 2P', cursive;
}
#gridHeight,
#gridWidth {
    font-family: 'Raleway', sans-serif;
    max-width: 3em;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    background-color: white;
    border: 2px solid #000;
}
.center {
    text-align: center;
}

#main {
    height: auto;
}

#main .pixel {
    height: 15px;
}

#main .pcol {
    width: 15px;
    height: 100%;
    border:0.5px solid rgb(0, 0, 0);
    margin-left: -1px;
    display: inline-block;
}
.backcolor {
    background-color: #fff !important;
    /* default background color (white) */
}